body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Readex Pro', sans-serif;   
} 

.section_margin{
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 100px;
}
.section_features{
    display: flex;
    
}

.personal_image{
    
   width: 90%;
   
    
}

h1{
    font-size: 60px;
}
.div_half_width{
    width: 50%;
}   
.heading_border{
    padding-left: 15px;
    border-left: 4px solid #FF5959;
   
}    
    


.div_text{
    padding-left: 70px;
    padding-top: 150px;
   
}

.yellow_color_span{

    color: #ff891bd3
}

.link_btn{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 35px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    
}

.section2_div_headline{
    text-align: center;
}

.section2_column_mother_div{
    
    display: flex;
    margin-left: 35px;
    
    
}

.section2_column_mother_div img{
    width: 33%;
   
}

.section2_col_div{
    border-radius: 10px;
    padding: 50px;
    width: 22%;
    margin-right: 35px;
}

h2{
    font-size: 30px;
}
p{
    color: #3E3E3E;
    font-size: 20px;
}

#section2_col_1{
    background-color: #FFEEEE;

}

#section2_col_2{
    background-color: #FFF4D6;

}

#section2_col_3{
    background-color: #ECF4F5;

}













